<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let server of servers"
            [ngClass]="getStatusClasses(server)">
            <strong>{{server.name}}</strong> | {{server.instanceType}} | {{server.started}}

            <span class="float-right badge badge-dark badge-pill">
              {{server.status}}
            </span>
        </li>
      </ul>
    </div>
  </div>
</div>